$black: #282c34;
$gray: #cacaca;
$white: #ffffff;
$blue: rgb(3, 54, 255);
$green: rgb(61, 255, 145);
$dark: #2c3e50;

.dashboard-wrapper {
  color: $black;
  hr {
    width: 100%;
  }
  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }

  .top-stats-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $black;
    display: flex;
    align-items: center;
    // justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .top-stats {
      display: flex;
      flex-direction: column;
      min-width: 15rem;
      width: 22%;
      min-height: 5rem;
      margin-left: 5px;
      margin-right: 5px;
      border: 1px solid $gray;
      border-radius: 5px;
      background-color: $white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1rem;
      padding: 1rem;

      .stats {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
      }
      svg {
        width: 3rem;
      }
      #icon1 {
        fill: rgb(139, 255, 51);
      }
      #icon2 {
        fill: rgb(177, 255, 51);
      }
      #icon3 {
        fill: rgb(245, 51, 255);
      }
      #icon4 {
        fill: rgb(214, 51, 255);
      }

      @media screen and (max-width: 1800px) {
        width: 45%;
      }
      @media screen and (max-width: 1290px) {
        width: 95%;
      }
    }
  }

  .actions {
    margin-top: -1rem;
    display: flex;
    justify-content: flex-start;
    width: 95%;
    .actions-icon {
      width: 1.5rem;
      margin-right: 0.6rem;
    }

    // @media (prefers-color-scheme: dark) {
    //   .actions-icon {
    //     filter: invert(100%);
    //   }
    // }
  }

  .charts-wrapper {
    h3 {
      margin-top: 1rem;
    }
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;
    padding-left: calc(2rem - 4px);
    padding-right: calc(2rem - 4px);
    .charts {
      min-width: 30rem;
      width: 49%;
      margin-bottom: 1rem;
      border: 1px solid $gray;
      border-radius: 5px;
      background-color: $white;

      @media screen and (max-width: 1290px) {
        width: 99%;
      }
    }

    hr {
      width: 90%;
    }

    .actions {
      margin-top: -2rem;
      margin-left: 1rem;
      padding: 5px;
      display: flex;
      justify-content: flex-start;
      width: 90%;
      .actions-icon {
        width: 1.5rem;
        margin-right: 0.6rem;
      }
    }
  }
}
