$black: #282c34;
$gray: #cacaca;
$white: #ffffff;
$blue: rgb(3, 54, 255);
$green: rgb(61, 255, 145);

.icon-window {
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 5px;
    margin: 2rem;
    p {
      color: $black;
      font-size: 18px;
    }
    a {
      text-decoration: none;
      color: $blue;
    }

    a:hover {
      color: $green;
    }

  .icon-display-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    align-content: space-around;

    .icon-display {
      width: 8rem;
      height: 8rem;
      color: $gray;
      background-color: $white;
      border: 1px solid $gray;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5px;

      .icon {
        width: 2rem;
        height: auto;
      }
    }
  }
}
